* {
    margin: 0px;
    font-family: 'Work Sans';
}

/* banner styles */
.header {
    background-image: url('../images/banner/banner2.png');
    width: 1600px;
    height: 809px;
    text-align: right;

}

.header-title {
    color: hsl(0, 4%, 10%);

    font-weight: 650;
    font-size: 60px;
    margin-right: 230px;
    margin-left: 865px;
    padding-top: 220px;
}

.header-description {

    color: #444343;
    font-size: 16px;
    line-height: 26px;
    padding-top: 24px;
    margin-right: 230px;
    margin-left: 860px;


}

.btn-p1 {
    height: 64px;
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin-top: 32px;
    margin-right: 230px;
    margin-left: 860px;

}

/* section one styles */
.s-one {
    width: 1080px;
    height: 735px;
    margin-top: 140px;
    background-color: #FFFFFF;
}

.s-one-des {
    display: flex;
}

img {
    margin-left: 230px;
}

.description {
    padding-left: 90px;
    margin-top: 210px;
}

.h-des {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    width: 288px;
    height: 94px;
}

.p-des {
    font-size: 16px;
    /* line-height: 26px; */
    color: #444343;
    padding-top: 24px;
    padding-bottom: 20px;
}

li {
    list-style: none;
}

li:before {
    content: '\2713';
    color: green;
}


/* section two styles */
.section-two {
    padding-top: 150px;
    text-align: center;

}

.sec-title {
    text-align: center;
}

.divf {

    padding: 50px 250px 30px 230px;
    display: flex;
    justify-content: space-around;

}
/* gradient section */
.section-1 {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    /* height: 250px; */
    background-repeat: no-repeat;
    margin-right: 130px;
    margin-left: 200px;
    border-radius: 8px;
    margin-top: 100px;
    background-size: cover;
    background-attachment: scroll;
    width: 1140px;
    margin-bottom: 100px;
}

.st-1 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 60px 0px 50px 65px;

}

.btn-p2 {
    width: 160px;
    height: 64px;
    background: #f6eee8;
    border-radius: 5px;
    color: #FD6E0A;
    border: 0;
    margin: 0px 20px 50px 65px;
    /* margin: 15px 15px; */

}

.foot {
    display: flex;
    /* gap: 25px; */
    /* justify-content: space-around; */
    padding-top: 60px;
    padding-bottom: 30px;
    background: #151414;
}

.a {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.b {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.img-icon {
    display: flex;
    
}

.e {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 10px;
}

.f {
    width: 300px;
    height: 50px;
    background: #151414;
    border: 1px solid white;
}

.g {
    background: #FFFFFF;
    border-radius: 8px;
    width: 170.11px;
    height: 64px;
    color: #F15B22;
    margin-top: 10px;
}

/* hobbies section */
.img-niron{
    border-radius: 50%;
    justify-content: center;
    margin-top: 100px;
    margin-left: 500px;
}
.h-title{
    text-align: center;
    color: #151414;
    padding-top: 100px;
    margin-bottom: 100px;
}
.hobby{
    display: flex;
    justify-content: center;
}
.hobbies-title{
    color: #151414;
    text-align: center;
}
.h-desc{
    color: #151414;
    font-size: 18px;
    text-align: center;
}